# MongoDB
MONGODB_URI=mongodb+srv://commerce-lk:8h0ecrsM0ygh3HnS@commerce-lk.nht89ck.mongodb.net/commerce?retryWrites=true&w=majority

# NextAuth
NEXTAUTH_SECRET=skjdfhskjdfhksjdfhksjdfhksjdfhksjdfh
NEXTAUTH_URL=http://localhost:3000

# Cloudflare R2
R2_ACCOUNT_ID=y889040ff654a1354523faefd27ad0392
R2_ACCESS_KEY_ID=47bca4986d8403c8b093a2769fdb467e
R2_SECRET_ACCESS_KEY=cf02ff8e5c9a27ba72d61ad42b7d5facd4f434938a9829969686ef966542e847
R2_BUCKET_NAME=commerce-lk-files
R2_PUBLIC_URL=https://pub-f276cb1f6b6d4cf6ad5c1e038c3f5162.r2.dev
R2_ENDPOINT=https://889040ff654a1354523faefd27ad0392.r2.cloudflarestorage.com

# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=Commerce.lk

# Email (SMTP)
EMAIL_HOST=smtp.zoho.com
EMAIL_PORT=587
EMAIL_USER=hello@commerce.lk
EMAIL_PASS=your_app_password
EMAIL_FROM=noreply@commerce.lk

# Setup
SETUP_KEY=your-random-secret-here
ADMIN_EMAIL=admin@commerce.lk
ADMIN_PASSWORD=admin-password-here
